# Virtual Environment
venv/

# Dataset folders
datasets/
unified_dataset/

#uploads
uploads/

#cache files
__pycache__/

LLM/__pycache__/
LLM/logs/
LLM/medical_report_model/
LLM/results/
LLM/medical_report_dataset.json
LLM/training.log


